<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Prueba curso Vue.js 2</title>
</head>
<body>
    
    <div id="app">

        <h2>{{ titulo }}</h2>

        <input type="number" v-model="totalFruta">
        <input type="text" @keyup.Enter="agregarFruta" v-model="nuevaFruta">
        <button @click="agregarFruta">Agregar</button>

        <ul>
            <template v-for="fruta in frutas">
                <li>
                    <input type="number" v-model.number="fruta.cantidad"> - {{ fruta.nombre }}
                    <button @click="(fruta.cantidad === 0 ? fruta.cantidad=0 : fruta.cantidad--)">-</button> 
                    <button @click="fruta.cantidad++">+</button>
                    <b v-if="fruta.cantidad === 0">Sin Stock</b>
                    <b v-else >Stock</b>
                </li>
            </template>
        </ul>
        <h4>TOTAL : {{sumarFrutas}}</h4>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>